.column {
  float: left;
  padding: 5px;
}

.column.side {
  flex-grow: 1;
}

.column.middle {
  flex-grow: 2;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  font-family: Avenir;
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
}

h1{
  font-family: Creepster, sans-serif;
  font-weight: bold;
  color: black;
  float: bottom;
}

p{
  font-family: sans-serif;
}

li{
  font-family: sans-serif;
}

#space{
  font-style: italic;
}

}

#c1{
  font-family: Creepster;
	font-weight: bold;
  color: #ff4d4d;
	float: bottom;
}

#c3{
  font-family: Creepster;
  font-weight: bold;
  color: #c61aff;
  float: bottom;
}

progress::-webkit-progress-value{
  background-color: #66ff66;
  border: 0;
  height: 18px;
  border-radius: 9px;
}

.button{
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btn1:hover{
	opacity: 1;
}

.btn1:active{
  background-color: #ff3333;
}
